/* style in mobile  */
@media (max-width: 580px) {

  /* The style for element form */
  form{
    width: 45%;
    left: 6%;
  }

  /* The paragraph for discription about author */ 
  p{
    position: absolute;
    left: 10px;
    top: 30px;
    width: 80%;
  }

    /* Style for all label in page */
    label{
      
      font-size: 18px;
    }
}
@media(max-width:767px) and (min-width: 581px){

/* The style for element form */
  form{
    width: 45%;
    left: 15%;
  }

/* The paragraph for discription about author */
  p{
    position: absolute;
    left: 10px;
    top: 30px;
    width: 85%;
    padding: 0 6px;
  }

  /* style for all inputs  */
  input{
    width: 125%;
    height: 35px;
    margin: 0px -15%;
  }
}

@media (min-width: 408) and (max-width: 574px) {
  input{
    transform: translateX(-60px);
    width: 305px;
  }
}

 /* In small screen  */
@media(min-width:768px){
  form{
    left: 15%;
  }
}

/* In midume screen  */
@media(min-width:992px){
  form{
    left: 25%;
  }
}

@media (max-width: 408px){
  p{
    left: -4px;
    width: 95%;
  }
  input{
    width: 160%;
    transform: translateX(-65px);
  }
}
