/* style in mobile  */
@media (max-width: 580px) {

  /* The style for element form */
  form{
    width: 45%;
    left: 6%;
  }

  /* The paragraph for discription about author */ 
  p{
    position: absolute;
    left: 10px;
    top: 30px;
    width: 85%;
  }

    /* Style for all label in page */
    label{
      font-size: 20px;
    }
}
@media(max-width:767px) and (min-width: 581px){

/* The style for element form */
  form{
    width: 45%;
    left: 15%;
  }

/* The paragraph for discription about author */
  p{
    position: absolute;
    left: 10px;
    top: 30px;
    width: 85%;
    padding: 0 6px;
  }

  /* style for all inputs  */
  input{
    width: 125%;
    height: 35px;
    margin: 0px -20%;
  }
}

 /* In small screen  */
@media(min-width:768px){
  form{
    left: 15%;
  }
}

/* In midume screen  */
@media(min-width:992px){
  form{
    left: 25%;
  }
}