*{
    padding: 0px;
    margin: 0px;
  }

  /* The style for body */
  body{
    background: gray;
  }

  /* The style for element form */
  form{
    width: 430px;
    padding: 80px;
    border: solid black 2px;
    border-radius: 15px;
    position: absolute;
    left: 26%;
    top: -380px;
    text-align: center;
    background: white;
  }

  /* The paragraph for discription about author */
  p{
    background: center;
    background-color: aqua;
    height: 35px;
    line-height: 30px;
    margin: 5px 10px;
    border: 3px solid black;
    border-radius: 20px;
    color: blue;
  }

  /* style for all inputs in page */
  input{
    display: block;
    border: 2px solid black;
    border-radius: 5px;
    width: 97%;
    height: 40px;
    margin: 5px 1%;
  }

  /* Style for all label in page */
  label{
    color: blue;
    line-height: 50px;
    float: left;
    font-size: 25px;
  }

  /* Style for login button */
  button{
  width: 95%;
  height: 30px;
  color: aqua;
  position: absolute;
  bottom: 34px;
  left: 3%;
  }

  /* The span for (*) for required */
  
  span{color:red;}
